<html>
<head>
<title>down</title>
<script type="text/javascript">
function detectOS() {
    var u = navigator.userAgent;
    var isAndroid = u.indexOf('Android') > -1 || u.indexOf('Adr') > -1; //android终端
    var isiOS = !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/); //ios终端
    if (isAndroid) {
        window.location.href="https://fir.im/6wh8"
    }
    if (isiOS) {
        window.location.href="https://itunes.apple.com/cn/app/id1434008053?mt=8"
    }
}
detectOS()
</script>
</head>
<body>
</body>
</html>