<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Title</title>
    <link href="/static/common-css/plugins/jQueryUI/jquery-ui-1.10.4.custom.min.css" rel="stylesheet">
    <link href="/static/common-css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/common-font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="/static/common-css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/common-css/plugins/datetimepicker/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <link href="/static/css/admin/home.css" rel="stylesheet">
    <link href="/static/css/prescriptionTemplate/index.css" rel="stylesheet">
</head>
<body>
<div class="home">
    <div class="row">
        <div class="h-style h-approve col-sm-3">
            <div class="a-title"><p>待认证</p></div>
            <div class="a-content">
                <p class="c-title">待认证医生</p>
                <p class="c-number"><a href="javascript:;" data-index="0" id="toundoctorpage"><span id="prepare">0</span></a>位</p>
            </div>
        </div>
        <div class="h-style h-entrance col-sm-5">
            <div class="a-title"><p>快捷入口</p></div>
            <div class="a-content">
                <div class="d-size">
                    <img class="img-size" src="/static/image/img1.png" />
                    <div class="b-size" id="adddoctor"><span class="img-small glyphicon glyphicon-plus"></span><span class="text">添加医生</span></div>
                </div>
                <div class="d-size">
                    <img class="img-size" src="/static/image/img2.png" />
                    <div class="b-size" id="addprescript"><span class="img-small glyphicon glyphicon-plus"></span><span class="text">添加药方</span></div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
<div class="hide" id="addDoctorDetails">
    <div class="container">
        <form class="form-horizontal " style="height: 360px;overflow-y: auto;overflow-x: hidden">
            <div class="form-group">
                <label class="col-sm-2 control-label"><span class="r-color">*</span>头像</label>
                <div class="col-sm-4">
				    <div class="fl">
				        <p class="headImg" style="margin-top: 10px;">
				            <img width="100%" height="100%" src="/static/image/img1.png" id="headphotoimg" picname=""/>
				            <img class="delImg" style="cursor: pointer;border-radius: 50%;background-color: #ffffff;margin-left: 110px;margin-top: -250px;width: 16px;" src="/static/image/minus-circle.png" />
				            <label class="glyphicon glyphicon-plus glyphicon-plus1" style="margin: 34px 0 0 52px;"><input class="uploadImg1s" id="headphoto" style="visibility: hidden" type="file" /></label>
				        </p>
				    </div>
				</div>
            </div>
            <div class="form-group">
                <label for="name" class="col-sm-2 control-label"><span class="r-color">*</span>医生姓名</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" id="doctorname" placeholder="输入医生姓名" autocomplete="off">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label"><span class="r-color">*</span>性别</label>
                <div class="col-sm-2">
                    <label class="radio-inline my_protocol">
                        <input type="radio" class="radio_agreement_protocol" checked="checked" name="sex" id="man" value="1">男
                    </label>
                    <label class="radio-inline my_protocol">
                        <input type="radio" class="radio_agreement_protocol" name="sex" id="women" value="2">女
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">年龄</label>
                <div class="col-sm-3">
                    <input type="date" class="form-control" id="birthday" autocomplete="off"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label"><span class="r-color">*</span>职称</label>
                <div class="col-sm-3">
                    <select class="form-control" id="duties">
                        <option>请选择</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label"><span class="r-color">*</span>科室</label>
                <div class="col-sm-3">
                    <select class="form-control" id="department">
                        <option>请选择</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label"><span class="r-color">*</span>省份</label>
                <div data-toggle="distpicker" class="col-sm-8" id="distpickerup">
                    <select class="col-sm-2 form-controls" id="province" ></select>
                    <select class="col-sm-2 form-controls" id="city" ></select>
                    <select class="col-sm-2 form-controls" id="contry" ></select>
                    <select class="form-controls col-sm-3" id="hospitaid">
                        <option>请选择</option>
                    </select>
                </div>

            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label"><span class="r-color">*</span>联系方式</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" placeholder="输入联系电话" id="telephone" autocomplete="off"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label"><span class="r-color">*</span>擅长技能</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control skill" list="skillslist" placeholder="输入关键字"  autocomplete="off" id="skillsearch"/>
                    <datalist id="skillslist">
                    </datalist>
                </div>
                <div class="col-sm-12" style="padding: 0">
                    <div class="col-md-2"></div>
                    <ul class="col-sm-8" id="selectskill"></ul>
                </div>
            </div>
            <div class="form-group" style="border-bottom: 1px dashed #dddddd;padding-bottom: 20px;">
                <label class="col-sm-2 control-label">简介</label>
                <div class="col-sm-10">
                    <textarea class="form-control" rows="6" placeholder="输入个人简历"  autocomplete="off" style="resize: none" id="intro"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label"><span class="r-color">*</span>执业证</label>
                <div class="col-sm-10 clearfix">
                    <div class="fl addImg-zhiyezheng">
                    </div>
                    <div class="fl">
                        <p class="uploadImg">
                            <label class="glyphicon glyphicon-plus" ><input class="uploadImgs" filecode="zhiyezheng" style="visibility: hidden" type="file" /></label>
                        </p>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label"><span class="r-color">*</span>资格证</label>
                <div class="col-sm-10 clearfix">
                    <div class="fl addImg-zigezheng">
                    </div>
                    <div class="fl">
                        <p class="uploadImg">
                            <label class="glyphicon glyphicon-plus" ><input class="uploadImgs" filecode="zigezheng" style="visibility: hidden" type="file" /></label>
                        </p>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">技术职称证（选填）</label>
                <div class="col-sm-10 clearfix">
                    <div class="fl addImg-jishuzheng">
                    </div>
                    <div class="fl">
                        <p class="uploadImg">
                            <label class="glyphicon glyphicon-plus" ><input class="uploadImgs" filecode="jishuzheng" style="visibility: hidden" type="file" /></label>
                        </p>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">排序</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control"  autocomplete="off" id="ordernum" onkeyup="if(isNaN(value))execCommand('undo')" onafterpaste="if(isNaN(value))execCommand('undo')"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label"><span class="r-color">*</span>认证状态</label>
                <div class="col-sm-10">
                    <select class="col-sm-2 form-controls " id="confirmstate">
                        <option value="1">已认证</option>
                        <option value="2" selected="selected">待认证</option>
                        <option value="3" selected="selected">未认证</option>
                    </select>
                </div>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript" src="/static/common-js/jquery-2.1.1.js"></script>
<script type="text/javascript" src="/static/js/common/distpicker.data.js"></script>
<script type="text/javascript" src="/static/js/common/distpicker.js"></script>
<script type="text/javascript" src="/static/js/common/main.js"></script>
<script type="text/javascript" src="/static/common-js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/common-js/bootstrapValidator.js"></script>
<script type="text/javascript" src="/static/common-js/plugins/jqGrid/jquery.jqGrid.min.js"></script>
<script type="text/javascript" src="/static/common-js/plugins/jqGrid/i18n/grid.locale-en.js"></script>
<script type="text/javascript" src="/static/common-js/plugins/dataTables/datatables.min.js"></script>
<script type="text/javascript" src="/static/common-js/plugins/datapicker/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="/static/common-js/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="/static/common-js/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.zh-CN.js"></script>
<script type="text/javascript" src="/static/common-js/plugins/layer/layer.js"></script>
<script type="text/javascript" src="/static/common-js/bootbox.js"></script>
<script type="text/javascript" src="/static/common-js/plugins/jsTree/jstree.min.js"></script>
<script type="text/javascript" src="/static/common-js/plugins/jsTree/jquery.ztree.all.js"></script>
<script type="text/javascript" src="/static/common-js/common.js"></script>
<script type="text/javascript" src="/static/common-js/company.js"></script>
<script type="text/javascript" src="/static/common-js/ComboBoxCommon.js"></script>
<script type="text/javascript" src="/static/common-js/plugins/97date/WdatePicker.js"></script>
<script type="text/javascript" src="/static/common-js/index.js" ></script>
<script type="text/javascript" src="/static/js/common/index.js"></script>
<script type="text/javascript" src="/static/js/common/AbstractDropdownList.js"></script>
<script type="text/javascript" src="/static/js/home/index.js" ></script>
<script type="text/javascript">
    $(document).ready(ObjhomeIndex.init('{ID}'));
</script>