<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <title>用户协议</title>
  <style type="text/css">
  *{
    margin:  0 auto;
    padding: 0;
  }
    body{
      color: #141414;
      background-color: #F1F0F5;
      font-size: 12px;
    }
    span{
      color: rgb(187, 187, 187);
      margin-top: 16px;
      display: block;
    }
    h3{
      font-size: 14px;
    }
    .word{
      margin-top: 6px;
      padding: 16px 20px 20px 20px;
      background-color: #fff;
      width:device-width, initial-scale=1.0, maximum-scale=1.0;
    }
  </style>
</head>
<body>
  <div class="word">
    <h3 style="text-align: center;display:block;font-weight: 400">北京好中医医生版用户协议</h3>
    <span>免责声明</span>
      本平台为您在北京好中医医疗信息有限公司官方在线平台提供平台服务和工具，您使用本平台的任何行为，与您的线下执业医疗机构无关，您的线下执业医疗机构将不承担您在本平台造成的任何损失。<br>
      • 本协议是您（也称“医师”）与北京好中医医疗信息有限公司官方及其在线平台（以下简称“北京好中医”）和北京好中医医疗信息有限公司医生客户端/小程序（即北京好中医医生版 APP 客户端，以下简称“本平台”）之间就软件使用和医疗服务等相关事宜所订立的协议，请您仔细阅读，当您点击“登录”按钮后，即视为已完全同意并接受本协议并愿受其约束，本协议即构成对双方有约束力的法律文件；您若不同意本协议的任何条款，请不要点选“登录”，也将不能使用本平台提供的服务。您应承诺享有履行本协议要求的医生应当具备的资格和能力。<br> 
      <span>登录协议</span>
      • 登录并使用本平台代表您同意与北京好中医所在的北京好中医医疗信息有限公司签署聘用协议，并进行多点执业登录备案。聘用期间若您不能胜任本职工作或出现违法行为及重大医疗事故等情况时，北京好中医有权单方面解除聘用。 
      定义<br>
      • 服务：指由北京好中医所有、控制和运营的，可在电脑、移动终端等各种设备上运行的软件、内容和数据资料。包括但不限于文本、图片、音频、视频、软件等信息和资料。<br>
      • 医师：指同意并承诺遵守本协议规定，向北京好中医用户提供远程医疗服务、医疗咨询解答、医疗知识传播服务的，并持有卫生局签发的《医师资格证书》、《医师执业证书》的医生。<br>
      • 用户：指在北京好中医APP、公众号、小程序上发布消息或接受服务的互联网用户。
    <span>账户的登录和使用</span>
      • 您可以通过登录账户的方式使用本平台的服务。当您按本平台要求提交信息和资料并由北京好中医对你提交的材料进行初步审查后，您会获得一个账户。您有义务保证所提供的资料信息真实、完整、有效、并在最新状态。当您在提交登录时所涉及的资料信息发生变更后，须及时向本平台提交变更申请，北京好中医在审查通过后会根据申请变更您的登录信息。<br>
      • 您的登录账户归属北京好中医所有，您拥有使用权。该账户不可变更，不可转让、不可借用或租用、不可赠予、不可继承。您不得违反本协议约定将您的账户用于本协议约定以外的其他目的。否则，北京好中医有权随时单方限制、中止或终止向您提供本协议项下产品和服务。<br>
      • 您应对您账户下发生的一切活动（包括但不限于享受本平台免费服务或购买付费服务等）承担全部法律责任，无论该活动是由您本人进行，还是由您授权的第三方实行的，您均应承担全部责任。<br>
      • 您所登录的账号是您登录及使用本平台项下服务的唯一凭证。您应妥善保管、正确和安全地使用账户信息（包括但不限于账号及密码）等信息。因您保密措施不当或您的其他行为，致使密码等丢失或泄漏所引起的一切损失和后果，均由您自行承担。<br>
      • 在合理怀疑或有证据证明，因您的作为或不作为而可能损害北京好中医或任意第三方的合法权益的情况下，北京好中医有权拒绝向您提供服务，并中止或终止您对账户的使用，也可以同时或随后注销您的账户。对此北京好中医将不承担任何法律责任。<br>
      • 您在登录账户后需要及时提交包括《医师资格证书》、《医师执业证书》等在内的本平台要求的认证资料，北京好中医将对其真实性、有效性进行审核。对于未提交认证资料或未通过北京好中医认证审核的医师，北京好中医有权单方面解除您的登录协议，回收您的账号，北京好中医医疗信息有限公司有权单方面终止与您的聘用关系。
    <span>医师同意</span>  
      • 您是具备完全民事权利能力和完全民事行为能力的自然人，保证具备履行本协议项下义务和享有本协议项下权益的资格和能力，并在申请登录时向北京好中医提交您本人的如下相关信息及资质证明文件。您认可北京好中医有权独立的对您提供的资料、证明文件、权限开通申请进行评估和审核，您对此不持有任何异议。<br>
      • 中华人民共和国《医师资格证书》、《医师执业证书》扫描件。<br>
      • 医师职称证书（或工作证、医院聘书）扫描件。<br>
      • 个人证件照（或个人清晰头像）。<br>
      • 身份证扫描件（正、反面）。<br>
      • 有效联系方式（电子邮件地址、联系电话、联系地址等）。<br>
      • 其他北京好中医认为需查验的信息。<br>
      • 您声明并保证其向北京好中医提供的全部证明文件真实、准确且不存在超过时效问题。若上述内容发生任何变更，您应及时通知北京好中医。如因上述信息变更后使得您不再具备履行本协议的情形出现时，北京好中医有权立即终止或中止本协议。您认可北京好中医在现有的技术条件下，仅能对您的登录资料进行形式审查，如因您提供虚假、过期材料，导致用户向北京好中医投诉的，北京好中医将立即终止向您提供服务，并不予承担任何法律责任。您声明并保证尊重北京好中医和其他医师的合法权益，不贬低北京好中医的商誉以及产品和服务的声誉。本协议不涉及您与本平台其他医师或用户之间的法律关系及法律纠纷，概由您自行解决并承担全部责任。<br>
      • 您不得以虚构或歪曲事实的方式不当评价其他医师，不得采取不正当方式制造或提高（降低）其他医师的评价度及信用度，不得采取不正当方式制造或提高自身的评价度及信用度。北京好中医有权对您违反本条规范的行为进行指正、警告、甚至终止向您提供服务。<br>
      • 您声明并保证在使用本平台的产品和服务、以及向用户提供咨询时谨慎言行，遵守本协议以及北京好中医的规则和要求，不会违反任何相关法律法规 (包括但不限于关于规范互联网站、互联网信息、不正当竞争的法律、法规、条例或规章) 的规定，并不得存在危害网络安全、损害第三方合法权益之行为。<br>
      • 您在本平台提供医疗服务不得影响您在所属医疗机构中的本职工作。您因此与所属医疗机构产生的纠纷，由您自行承担，北京好中医不承担任何法律责任。<br>
      • 您有义务告知您服务的北京好中医用户，您在本平台提供的医疗服务为您在北京好中医医疗信息有限公司在线平台提供的医疗服务，与您所属的其他医疗机构无关。因患者对您的服务归属不明导致的纠纷，您应负全部责任。<br>
      • 北京好中医保留随时变更、中断或终止部分或全部网络服务的权利。<br>
      • 您声明并保证不会删除、隐匿或改变本平台的产品和服务中显示或其中包含的任何知识产权或其他所有权声明；不会以任何方式干扰或企图干扰北京好中医及其产品和服务的正常运行，或者制作、发布、传播可能造成前述后果的工具、方法等。<br>
      • 您声明并保证您使用本平台产品和服务以及第三方产品和服务，和/或通过本平台的产品和服务进行发布拥有合法权利内容的时候，应遵循诚实信用原则，尊重社会公德，不损害社会公共利益。您应保证：
      • 您不会发布、传播、提供含有任何政治、宗教迷信、淫秽、色情、不道德、欺诈、诽谤、侮辱等内容。您发布的内容不会侵犯任何法律法规或第三方的任何权利，如因您发布的内容导致北京好中医或其他第三方遭受损失的，您应承担全部责任。<br>
      • 不得利用本平台从事洗钱、窃取商业秘密、窃取个人信息等违法犯罪活动。<br>
      • 不得教唆他人从事本条所禁止的行为。<br>
      • 不得利用在本平台登录的账户进行经营活动。<br>
      • 您的行为真实、合法、准确、完整。您不得损害北京好中医和他人的合法权益，不得妨碍北京好中医和第三方行使权益。<br>
      • 您就您发布的内容（若其中涉及的第三方知识产权，您应拥有合法的授权和转授权），在此不可撤销的授予北京好中医全球范围内的免费的、无期限的、非排他的、可转让和可分/转授权的使用许可。北京好中医及与北京好中医合作的第三方，可以不受限制地在北京好中医的产品和服务或合作的产品和服务中免费使用、传播，并供用户以浏览、下载等方式使用您发布的内容，和/或以现在已知或日后开发的任何形式、媒体或技术，将上述信息纳入其它作品内。<br>
      • 您明确理解并同意，您通过本平台为第三方提供服务时，应仔细说明服务的内容、信息以及收费的方式，若提供线下服务时应与第三方单独签署相应的协议以保障您个人的合法权益，并严格按照协议的约定履行。如因您使用第三方的产品和服务引发的任何纠纷，您应自行解决并承担由此引发的全部责任，北京好中医对此不承担任何责任。<br>
      • 您同意，北京好中医拥有通过邮件、短信、微信、电话等形式，向您发送订单信息、促销活动等告知信息的权利。<br>
      • 您必须自行准备如下设备和承担如下开支：<br>
      • 上网设备，包括并不限于电脑或者其他上网终端、调制解调器及其他必备的上网装置；<br>
      • 上网开支，包括并不限于网络接入费、上网设备租用费、手机流量费等。<br>
      • 您声明并同意北京好中医可指定第三方成为本协议的受益人，并有权直接履行和享受本协议项下权利。<br>
      • 本平台仅为您与用户间的互动平台，并不代表北京好中医赞同您的观点或证实其内容的真实性。您通过本平台发表的各种言论（包括但不仅限于医学文献、诊疗建议等）需在符合本协议的条款下进行，否则造成的违法行为、重大医疗事故及相应的损失将由您承担。
    <span>服务内容及双方权利义务</span>
      • 您可以通过本平台为您的用户提供电话问诊、图文问诊、诊后咨询等医疗服务（以下简称“医疗服务”），医疗服务的交互主体为您和用户，北京好中医不对您与用户医疗服务中产生的一切不符合本协议纠纷承担任何责任。<br>
      • 本平台上的服务及其他涉及项目的价格、数量、能否提供等信息随时可能发生变动，北京好中医不作特别通知。本平台显示的信息可能会有一定的滞后性或差错，对此情形您知悉并理解，并不会因此追究北京好中医的任何法律责任。<br>
      • 在您提供付费服务时，请您仔细确认用户所购服务的名称、价格、数量、规则、说明、注意事项、联系地址、电话、联系人等信息，由您的疏忽引起的纠纷和损失，北京好中医不承担责任。<br>
      • 登录并认证通过后，北京好中医负责为您在北京好中医医疗信息有限公司线上平台提供技术与服务支持。同时所有北京好中医的用户均可免费或付费向您（在北京好中医医疗信息有限公司）发起问诊服务申请。<br>
      • 北京好中医有权根据本平台用户对您医疗服务质量的评价以及其他专业、学术指标将您与其他医师进行排名。<br>
      • 除法律另有强制性规定外，您知悉并同意：本平台上及北京好中医上展示的服务和价格等信息仅仅是要约邀请，您应在相应的时间向用户提供医疗服务。您可以随时登录您在本平台登录的账户，查询您可提供服务的订单状态。<br>
      • 北京好中医仅认可通过本平台及其关联的支付平台的线上线下交易所产生的交易行为，您通过上述渠道之外的交易行为所获得的费用，将被认定为来源不符合本协议的规则，您若因此遭受任何损失的，北京好中医概不承担任何责任。<br>
      • 经相关政府部门或司法机关核实的违法交易，利害关系人可向北京好中医提出申请，北京好中医将及时采取措施终止交易服务并在一年内保存有关记录。<br>
      • 如您收到北京好中医订单通知后无法提供服务时，北京好中医与北京好中医用户有权取消订单，因此给第三方造成损失的，由您个人承担全部责任。<br>
      • 北京好中医将会把产品（服务）发送到您所指定的接收端或短信、邮箱等，所有在本平台列出的交付时间为参考时间，参考时间的计算是根据具体服务的处理过程和发送时间的基础上估计得出的。<br>
      • 因如下情况造成订单延迟或无法交付等，北京好中医不承担延迟交付的责任：<br>
      • 您提供的信息错误、接收端设备等原因导致的；<br>
      • 服务发送后无人查阅的；<br>
      • 情势变更因素导致的；<br>
      • 不可抗力因素导致的，例如：自然灾害、基础网络问题、突发战争、网络黑客等。<br>
      • 北京好中医需保证本平台安全、稳定，对您的服务顺利进行。您在医疗服务过程中遇到有紧急事情处理时（医生职业要求），应对用户给予解释，暂停服务，向北京好中医客服申报，以便安排重新服务的具体时间。如服务在进行过程中由于本平台性能不稳定等系统原因导致服务不能完成的，将由北京好中医客服为您重新安排医疗服务。<br>
      • 对于未见面用户、首诊用户，医疗服务均只限于您根据用户的主观描述，利用医学知识及临床经验给予一定的解惑及如何就医方面的建议，您需明确告知用户获得诊断及治疗均需前往国家审核批准的正规医疗机构。<br>
      • 您在医疗服务过程中要语言文明，尊重用户，平等交流。如有对用户使用恶意中伤或不文明言语，用户有权立即中断服务，如涉及收费服务的，您须将款项全部退还。
      • 因服务平台的特殊性，北京好中医没有义务对所有医师的服务行为以及与服务有关的其它事项进行事先审查，但如存在下列情况：<br>
      第三方通知北京好中医，认为某个具体医师或具体服务事项可能存在重大问题。<br>
      医师或第三方告知北京好中医本平台上有违法或不当行为的。<br>
      北京好中医以普通非专业人员的知识水平标准对相关内容进行判别，可以认为这些内容或行为具有违法或不当性质的，北京好中医有权根据不同情况选择删除相关信息或停止对该医师提供服务平台，并追究相关法律责任。<br>
      • 经国家生效法律文书或行政处罚决定确认您存在违法行为，或者北京好中医有足够事实依据可以认定您存在违法或违反协议行为的，北京好中医有权在本平台公布您的违法和违规行为，并终止向您提供一切服务。如因您的行为给北京好中医造成损失的，您须承担全部赔偿则责任。<br>
      • 北京好中医除给您提供医疗服务的平台和工具外，双方还可协商，利用北京好中医资源为医师个人及在北京好中医医疗信息有限公司的品牌进行包装、推广；具体的合作模式可双方另起协议或规则进行约定。<br>
      • 北京好中医的医疗处方行为是在患者线上复诊后，通过北京好中医医疗信息有限公司进行。请勿在自己的执业医疗机构直接对患者进行处方行为，如有发现，北京好中医有权利立即终止与您的聘用关系，并停止为您提供服务。因此造成的执业机构的惩罚以及其它损失，北京好中医不承担任何责任。<br>
      • 您在本平台的处方开具，需在医患双方充分沟通，医师充分获得患者医疗诊断所需数据基础上，未获得用户患者医疗诊断所需数据即开方导致的医疗纠纷、用户损失，北京好中医不承担任何责任。<br>
      • 您在本平台开具的处方，需符合到开具处方日为止最新版《中华人民共和国药典》对药材限量，相反相畏的相关规定。您未按《中华人民共和国药典》规范开方导致的医疗纠纷和用户损失，北京好中医不承担责任。<br>
      • 您在本平台开具的处方，需正确填写患者的姓名、年龄、性别等关键资料，处方内容需与患者信息一致。因您误填患者资料导致的医疗纠纷和用户损失，北京好中医不承担责任。<br>
      • 患者购药所支付的费用包括您设置的医生治疗服务费，北京好中医不收取任何额外费用。
    <span>服务内容及双方权利义务</span>
      • 您在使用本平台产品和服务过程中所产生并储存于本平台客户端和北京好中医服务器中的任何数据信息（包括但不仅限于账号信息、使用记录等数据信息），均属于相关程序在运行过程中产生的衍生数据。北京好中医和相应的第三方产品和服务提供商分别对储存在各自服务器上的上述数据信息拥有所有权（您与用户之间的咨询信息除外），您在按照本协议规定正常使用本平台产品和服务或第三方产品和服务的过程中对属于其北京好中医账户和第三方账户的数据信息享有非独家有限使用权。<br>
      • 在不影响您正常接受服务的情况下，北京好中医有权决定保留或不保留服务器上的全部或部分数据；第三方产品和服务中的各种数据属于第三方所提供的服务，其所有权归第三方所有，第三方产品和服务提供商有权决定保留或不保留服务器上的全部或部分数据。<br>
      • 北京好中医有可能主动收集包括但不限于以下数据和信息：<br>
      为了优化给您提供的产品和服务，北京好中医有可能收集您的浏览器性质、操作系统种类、给您提供接入服务的ISP域名等，以优化在您计算机或手机屏幕上显示的页面；<br>
      为了给您提供软件升级服务，需要收集您PC端、移动端所安装软件的相关信息，例如：软件名称及版本等；<br>
      北京好中医进行客流量统计，从而改进网站的管理和服务，或进行网络行为的调查或研究。<br>
      • 本协议所称商业秘密包括但不限于本协议、任何补充协议或政策所述内容及在合作过程中涉及的其他秘密信息。您未经商业秘密提供方同意，不得将该信息向任何第三方披露、传播、编辑或展示。您承诺，本协议终止后仍承担此条款下的保密义务。<br>
      • 您同意与北京好中医一并保护本平台用户的个人身份信息、医疗信息、图文影像信息、联系方式、银行卡信息，以及其他能够据此直接或者间接识别出用户个人身份的隐私信息以及咨询内容、个人消费信息等。本协议所述的数据和信息，即您使用本平台产品和服务，以及第三方产品和服务中产生的数据和信息不属于本条款所指的隐私信息。<br>
      • 北京好中医保证不向第三方公开、提供或共享您的隐私信息，但以下情形除外：<br>
      北京好中医已获得您的明确授权；<br>
      需要公布在医疗机构中的资料和信息<br>
      北京好中医为提升产品和服务质量；<br>
      根据有关的法律法规要求，北京好中医负有披露义务的；<br>
      司法机关或行政机关基于法定程序要求北京好中医提供的；<br>
      为维护社会公共利益及北京好中医合法权益，在合理范围内进行披露的。<br>
      • 北京好中医尊重并尽最大努力保护您的隐私信息，但是不能保证现有的安全技术措施能确保您的个人信息不受任何形式的侵犯。您对上述情况充分理解并知晓，对因信息安全技术措施被破解失效、网络遭受病毒入侵、黑客攻击等非北京好中医过错导致的损失，相关风险和后果均由您自己承担，北京好中医不承担任何责任。<br>
      • 如因您的故意或过失致使用户的个人隐私信息泄露，您须单独向用户承担全部赔偿责任<br>
    <span>违约和赔偿</span>
      • 如第三方对您发布的内容或向用户解答的内容持有异议或认为存在违法、侵权等情况并通知北京好中医时，北京好中医有权根据第三方的要求和所提交的证据以普通非专业的知识水平标准进行初步判断后自行做成处理决定，如您认为其他医师或任意第三方损害了您的合法权益，您可以通知北京好中医并提供真实有效的证据后撤销该处理决定。如您在北京好中医发信后2个工作日内未回复或未能提交充分的证据证明您的要求，北京好中医将视情况继续屏蔽或删除相应内容，甚至暂停或终止账户使用。<br>
      • 如您损害北京好中医的合法权益，或您导致北京好中医遭受任何来自第三方的纠纷、诉讼、索赔要求等，您须向北京好中医赔偿相应的损失（包括由此产生的全额的诉讼费用和律师费），并需对因您的行为产生的一切后果负全部法律责任。<br>
      • 除本协议及服务平台规则另有约定之外，如一方发生违约行为，守约方可以书面通知方式要求违约方在指定的时限内停止违约行为，并就违约行为造成的损失进行索赔，如违约方未能按时停止违约行为，则守约方有权立即终止本协议。
    <span>服务中止或终止</span>
      • 您在停止接收新的医疗服务订单一年后或通过电子邮件形式告知北京好中医终止本协议之日，本协议将自动终止。本协议终止后您的账号将被注销。您若之后还想在本平台提供医疗时，需要重新提交申请并提供相关审核文件。<br>
      • 下述任一原因发生，无需提前通知，北京好中医有权单方面决定是否随时中止或终止服务，且按有关规则对您进行处罚。您同意并接受北京好中医的处理决定：<br>
      如您违反北京好中医的任何规则或本协议中的任何承诺或保证；<br>
      若您违反本协议或相关规定，经北京好中医提醒仍不改正三次以上的；或因您的言行对北京好中医造成人民币1000元以上损失的，北京好中医有权终止本协议，并冻结您的账号、登录账号等；<br>
      非因北京好中医主观故意的过错，您无法使用服务；<br>
      因不可抗力原因，服务中止或终止；<br>
      北京好中医无法预见和控制的原因，服务中止或终止；<br>
      北京好中医停止运营某特定产品和服务；<br>
      北京好中医认为实际情形不再适宜继续履行本协议；<br>
      本协议约定的其他情况。<br>
      • 不论北京好中医与您之间的服务因任何原因以任何方式终止，您同意并接受：<br>
      • 北京好中医有权保存或不保存您发布的内容及其他相关数据和信息，或转发任何未曾阅读或发送的信息给您或第三方。亦不就终止协议而您或任何第三者承担任何责任；<br>
      • 北京好中医有权保存或不保存您账户和账户信息；<br>
      • 在服务终止之前，您和北京好中医或其他第三方的交易尚未完成的，例如尚未下载完毕或尚未付款，北京好中医有权在中断、终止服务的同时删除此项交易信息<br>
      • 服务终止之前，您和北京好中医或其他第三方的交易已完成的，北京好中医有权在中断、终止服务的同时删除此项交易信息。<br>
      • 协议终止后，北京好中医有权保留该您的登录数据及以前的服务行为记录。如您在协议终止前在服务平台上存在违法行为或违反协议的行为，北京好中医仍可行使本协议所规定的权利。<br>
      • 无论因任何原因终止的，在终止之前，您应自行处理好数据、信息的备份以及与北京好中医、任意第三方间的相关事项的处理等，否则，由此产生的您与任意第三方之间的纠纷等问题由您自行负责解决，并单独承担完全责任。由此造成北京好中医损失的，你应负责赔偿。<br>
      • 您必须完全独立地承担您在服务终止前实施的违法或违约行为所导致的任何赔偿和责任。<br>
      • 北京好中医未行使本协议的任何权利或规定，不构成对前述权利之放弃。<br>
      • 本条不影响北京好中医按照本协议规定追究您的违约责任。
    <span>不可抗力及通知</span>
      • 不可抗力是指不能预见、不能克服并不能避免且对一方或双方造成重大影响的客观事件，包括但不限于自然灾害如洪水、地震、瘟疫流行和风暴等以及社会事件如战争、动乱、法规政策颁布和修改、行政行为、政府决定等。<br>
      • 出现上述情况时，北京好中医将努力在第一时间与相关单位配合，及时进行修复，若由此给您造成损失的，您同意放弃追究北京好中医的责任。<br>
      • 本协议下所规定的通知有权要求以书面形式通过以下邮址递交收悉，通知的到达以北京好中医收悉为准。<br>
      • 北京好中医联系方式地址：北京市顺义区顺西路20号京顺中医堂 邮编：101399；收件人：王国伟（收）。电子邮箱：admin@51bjhzy.com
    <span>免责条款</span>
      • 除非另有明确的书面说明，本平台及其所包含的或以其它方式通过本平台提供给您的全部信息、内容、材料、产品（包括软件）和服务，均是在“按现状”和“按现有”的基础上提供的。除非另有明确的书面说明，北京好中医不对本平台的运营及其包含在本平台上的信息、内容、材料、产品（包括软件）或服务作任何形式的、明示或默示的声明或担保（根据中华人民共和国法律另有规定的以外）。<br>
      • 北京好中医所承载的内容（文、图、视频、音频）均为传播有益健康资讯目的，不对其真实性、科学性、准确性、严肃性做任何形式保证。您应拒绝回复医疗健康之外的咨询问题，包括但不限于如下情况：<br>
      非医疗健康类问题，如动物疾病问题、社会意识形态问题等；<br>
      医疗司法举证或询证问题；<br>
      胎儿性别鉴定问题；<br>
      未按提问要求提问，如提问时未指定医生，却要求具体医生回复；<br>
      有危害他人/自己可能的问题；<br>
      追问医生个人信息的问题；<br>
      故意挑逗、侮辱医生的提问。<br>
      • 您应遵守法律法规及本协议的约定及承诺，否则被行政机关、司法执法机构或第三方调查、举报，或被北京好中医自行检查时发现，因此损害北京好中医及或第三方的权益的，您应当负责解决并承担全部法律责任；并且北京好中医有权随时在不通知您的前提下按照如下方案予以处理，而不承担任何责任：<br>
      不予发布、屏蔽或删除您发布的全部或部分的内容、数据和信息；<br>
      封禁或删除您的账户，中/终止提供产品和服务；<br>
      将您的行为对外予以公告；<br>
      追究您的法律责任；<br>
      其他北京好中医认为适合的处理措施。<br>
      • 您对于首诊的医疗服务仅为咨询建议，仅为您依据用户描述而提供的建议性内容，不能作为诊断及医疗的依据。是否采用您的意见为提问者个人行为，您不得强迫。<br>
      • 北京好中医不因下述任一情况而可能导致的任何损害赔偿承担责任，包括但不限于财产、收益、数据资料等方面的损失或其它无形损失：<br>
      因不可抗力导致北京好中医系统障碍不能正常运作；<br>
      由于黑客攻击、电信部门技术调整或故障、系统维护等原因而造成的平台服务中断或者延迟。<br>
      • 鉴于网络服务的特殊性，北京好中医有权在无需通知您的情况下根据北京好中医及其关联企业的整体运营情况或相关运营规范、规则等，可以随时终止服务或停止运营。若由此给您造成损失的，您同意放弃追究北京好中医的责任。对于此类情形下可能造成的风险，请您充分了解并同意自行承担由此可能造成的一切不利后果和损失。<br>
      • 在法律允许的最大限度内，北京好中医明确表示不对其产品和服务做出任何明示、暗示和强制的担保，包括但不限于安全性、可靠性、稳定性、及时性、适销性、针对特定用途的适用性以及不侵犯所有权或其他权益的担保。<br>
    <span>免责条款</span>
      根据国家法律法规变化及网络运营需要，北京好中医有权在不另行通知的情况下对本协议条款含相关的政策（包括但不限于结算规则等）不时地进行修改，修改后的协议即时生效并适用。您可随时登陆查阅最新协议；您有义务不时关注并阅读最新版的协议及本平台公告。如您不同意更新后的协议，您可以且应立即停止接受北京好中医提供的服务；如您在公告发布三日后仍继续使用本平台提供的服务，即视为同意更新后的协议。北京好中医建议您在使用本平台之前阅读本协议及本平台的公告。如果本协议中任何一条被视为废止、无效或因任何理由不可执行，该条应视为可分的且并不影响任何其余条款的有效性和可执行性。
    <span>法律管辖和适用</span>
      法律管辖和适用<br>
      • 本协议的订立、执行和解释及争议的解决均应适用在中华人民共和国大陆地区适用之有效法律（但不包括其冲突法规则）。如发生本协议与适用之法律相抵触时，则这些条款将完全按法律规定重新解释，而其它有效条款继续有效。如缔约方就本协议内容或其执行发生任何争议，双方应尽力友好协商解决；协商不成时，双方在此同意由北京好中医医疗信息有限公司所在辖区的人民法院管辖。<br>
      • 如本协议的任何条款被视作无效或无法执行，则上述条款可被分离，其余部份则仍具有法律效力。<br>
    <span>其他</span>
      • 若北京好中医用户对您的咨询结果不满意，可以向北京好中医提出投诉，北京好中医将视情况协调沟通。<br>
      • 咨询双方因服务引起的纠纷，请北京好中医给予调解的，北京好中医将有权了解相关信息，并将双方提供的信息与对方沟通。因在北京好中医上发生服务纠纷，引起诉讼的，您应通过司法部门或行政部门依照法定程序要求北京好中医提供相关数据，北京好中医将积极配合并提供有关资料。
  </div>
</body> 
</html>