<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <title>银行卡管理</title>
    <link href="/static/css/depositExplain/style.css" rel="stylesheet">
</head>

<body>
    <div class="explain">
        <p>一、劳务工资扣税标准说明</p>
        <span>您在北京好中医的收入属于劳务收入，按照国家规定需按劳务报酬缴纳个人所得税。</span>
        <span>税法规定交税比例如下：</span>
        <span>800元以下 0</span>
        <span>800-4000元 （收入-800）*20%</span>
        <span>4000-25000元 收入*（1-20%）*20%</span>
        <span>25000-62500元 收入*（1-20%）*30%-2000</span>
        <span>62500元以上 收入*（1-20%）*40-7000</span>
        <span class="state">活动推广期间，您的个人所得税由北京好中医平台承担</span>

        <p>二、劳务费发放说明</p>
        <span>收入结算中的本月结算金额为税前金额，实际发放为您税前金额（个人所得税由平台为您承担）。</span>
        <span>每月月初发放上月劳务费，到账时间参照各收款行的处理速度。</span>
        <span>因特殊情况导致当月劳务费发放失败的，未到账款项将跟随下期劳务费一同发放。</span>

        <p>三、未收到款项的常见原因</p>
        <span>未及时绑定银行卡。</span>
        <span>“银行卡管理”中个人信息填写错误。</span>
        <span>“银行卡管理”中选择的银行不支持。（建议使用工商银行、建设银行、农业银行、邮政储蓄银行、招商银行、交通银行的储蓄卡）</span>

        <p>四、联系方式</p>
        <span>如有疑问请联系我们：<a class="tel" href="tel:400-666-0101" style="text-decoration:none;">400-666-0101</a></span>
        <span>*最终解释权 归北京好中医所有</span>
    </div>
</body>

</html>