<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <title>如何提现</title>
    <link href="/static/css/depositExplain/style.css" rel="stylesheet">
</head>

<body>
    <div class="cashWithdrawal">
        <img src="/static/image/01@2x.png">
        <p>微信搜索“<span class="state">北京好中医服务平台</span>”</p>
        <p>关注“北京好中医服务平台”公众号</p>
        <img src="/static/image/step1.png">

        <img src="/static/image/02@2x.png">
        <p>进入公众号，点击“<span class="state">我是医生</span>”</p>
        <img src="/static/image/step2.png">
        
        <img src="/static/image/03@2x.png">
        <p>用登录北京好中医的手机号，登录后</p>
        <p>即可进行体现操作</p>
        <img src="/static/image/step3.png">
        
        <img src="/static/image/04@2x.png">
        <p>北京好中医服务平台将以微信红包进行提现</p>
        <p>提现后金额将进入您的微信钱包</p>
        <img src="/static/image/step4.png">
    </div>
</body>

</html>